server:
  port: 45678
  servlet:
    context-path: /api # 固定前缀
spring:
  application:
    name: aio-life-serve
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  datasource:
    username: aio-life
    password: ${AIO_LIFE_DB_PASSWORD:root}
    url: jdbc:mysql://${AIO_LIFE_DB_URL:127.0.0.1:3306}/aio-life?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

  mail:
    username: ${AIO_LIFE_MAIL_USERNAME:test@qq.com}
    password: ${AIO_LIFE_MAIL_PASSWORD:password}
    host: smtp.qq.com
    port: 465
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
          port: ${spring.mail.port}
          auth: true
          starttls:
            enable: true
            required: true
  data:
    redis:
      host: 127.0.0.1
      port: 6379

logging:
  level:
    top.aiolife.record.mapper: debug
    org.springframework.jdbc: debug
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%replace{%X{traceId}}{^(.{16}).*}{$1},%X{spanId}] [%thread] %-5level %logger{50} - %msg%n"
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%replace{%X{traceId}}{^(.{16}).*}{$1},%X{spanId}] [%thread] %-5level %logger{50} - %msg%n"

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      enabled: true
      show-details: never
    info:
      enabled: true

sa-token:
  token-name: Authorization
  token-prefix: Bearer
#  timeout: 3000 # token有效期，单位秒
  jwt-secret-key: lys
  salt: aiolife

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: is_deleted # 全局逻辑删除字段名
      logic-delete-value: 1 # 逻辑已删除值
      logic-not-delete-value: 0 # 逻辑未删除值

aio:
  life:
    serve:
      leetcode-corn: 0 30 23 * * ?